.tarjeta-prod {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  background-color: #fdfdfd;
  max-width: 300px;
  font-family: sans-serif;
}
.tarjeta-prod img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}